# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
env/
venv/

# Ignore version control
.git
.gitignore

# Ignore IDE files
.vscode/
.idea/

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml